.app {
  font-family: 'Karla', sans-serif !important;
}
.inputForm{
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.inputForm:focus-visible{
  outline: none !important;
}
.fontPlaceholder::placeholder{
  font-family: 'Karla', sans-serif !important;
}